<?xml version="1.0" encoding="windows-1251"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/login" access="permitAll"/>
        <intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')"/>
        <form-login login-page="/login" default-target-url="/hello"/>  
        <logout logout-success-url="/logout"/>
        <remember-me/>
    </http>
    
    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="sha"/>
            
            <!-- If we want to get user form Data Base -->
            
            <!--            <jdbc-user-service  data-source-ref="spring_security_dataSource"
           users-by-username-query="select username, password, active from users where username=?"
           authorities-by-username-query="select u.username, ur.authority  from users u, user_roles ur
            where u.user_id = ur.user_id and u.username =?"/>-->
            
            <!-- Simple example, without Data Base -->
            <user-service>
                <user name="admin" password="8cb2237d0679ca88db6464eac60da96345513964" authorities="ROLE_ADMIN"/>
            </user-service>
            
        </authentication-provider>
    </authentication-manager>
            
</beans:beans>
